.title {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
    color: white;
    text-shadow: 0 0 5px #87d380;

    @media screen and (max-width: 800px) {
        font-size: 3rem;
    }
}

.totalFlavortext {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #87d380;
    text-shadow: 0 0 5px #87d380;
}

.total {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #53d347;
    text-shadow: 0 0 5px #53d347;

    animation: glow 2s infinite ease-in-out alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px #53d347;
    }

    to {
        text-shadow: 0 0 20px #53d347, 0 0 30px #53d347, 0 0 40px #53d347;
    }
}