.dropzone {
    position: relative;
    width: 100%;
    height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}

.imagePreview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    z-index: 0;
}

.image {
    object-fit: cover;
    z-index: -1;
}