.chip {
    display: flex;
    align-items: center;
    gap: 0.67rem;
    position: relative;
    width: 100%;
    background-color: #222;
    flex-direction: row;
    border-radius: 8px;
    padding: 0.3rem;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);


    .name {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .price_czk {
        font-weight: bold;
        font-size: 1.2rem;
        margin-left: auto;
        margin-right: 0.5rem;
    }
}

.unverifiedOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    z-index: 1;

    p {
        margin: 0;
        padding: 0;
        text-align: center;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        -webkit-user-drag: none;
        user-select: none;
        pointer-events: none;

        animation: pulse 2s ease-in-out infinite;

        @keyframes pulse {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.1);
            }

            100% {
                transform: scale(1);
            }
        }

    }

    @media screen and (max-width: 750px) {
        font-size: 1.5rem;
    }
}