.card {
    position: relative;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 8px;
    padding: 0.3rem;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

    transition: transform 0.1s ease-in-out;

    -webkit-user-drag: none;
    user-select: none;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);


    .name {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .price_czk {
        font-weight: bold;
        font-size: 1.2rem;
    }

    .progress {
        font-size: 1.2rem;
    }

    .progressLabel {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
        user-select: text;
    }

    p {
        margin: 0;
    }

    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }

    &:active {
        transform: scale(1.0);
    }
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 8px;

    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}